@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.app {
  @apply relative z-10 mx-auto flex max-w-7xl flex-col items-center justify-center px-6 sm:px-16;
}

.black_btn {
  @apply flex items-center justify-center rounded-full border border-black bg-black px-5 py-1.5 text-center font-inter text-sm text-white transition-all hover:bg-white hover:text-black dark:border-white dark:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white;
}

.outline_btn {
  @apply flex items-center justify-center rounded-full border border-black bg-transparent px-5 py-1.5 text-center font-inter text-sm text-black transition-all hover:bg-black hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-black;
}

.purple_gradient {
  @apply bg-gradient-to-r from-fuchsia-600 to-purple-600 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 max-w-2xl text-lg text-gray-600 dark:text-gray-400 sm:text-xl;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.dropdown_link {
  @apply font-inter text-sm font-medium text-gray-700 hover:text-gray-500;
}

.form_text {
  @apply font-satoshi text-base font-semibold text-gray-700 dark:text-gray-300;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-start justify-start;
}

.flex-end {
  @apply flex items-center justify-end;
}

.flex-between {
  @apply flex items-center justify-between;
}

.nice_border {
  @apply border border border-gray-300 bg-white/20 bg-clip-padding text-gray-500 text-gray-500 outline-0 outline-0 backdrop-blur-lg backdrop-filter dark:border-gray-700 dark:bg-black/10;
}
